.page-title{
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
    margin: 2rem 0 2rem;
    font-weight: 600;
}


.main-wrapper{
    background-color: #323232;
    border-radius: 15px;
    max-width: 95vw;
    padding-bottom: 3rem;
}

.container-wrapper{
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
}