.page-title{
    font-size: 2.5rem;
    color: #4D4A5C;
    text-align: left;
    line-height: 1.5;
    font-weight: 600;
}


.main-wrapper{
    background-color: #E5F6EF;
    border-radius: 15px;
    max-width: 95vw;
    padding-bottom: 3rem;
    margin-top:3rem;
    box-shadow: 2px 2px 20px 10px #00000030;
}

.container-wrapper{
    height: 100%;
    padding-left: 2rem;
}
