<div class="mapdetails-wrapper">
    <h5>PLANT DETAILS: </h5>
    <!-- <div *ngFor="let category of plantDetails['COAL']">{{category['PSTATABB']}} - {{ category['PNAME']}} - {{ category.val}}</div> -->
    <div *ngIf="plantDetails"  class="container d-flex flex-column">
        <div class="content">
            <span class="title col-6">ID: </span>
            <span class="detail">{{plantDetails[0]['SEQPLT20']}}</span>
        </div>
        <div class="content">
            <span class="title col-6">NAME: </span>
            <span class="detail">{{plantDetails[0]['PNAME']}}</span>
        </div>
        <div class="content col-6">
            <span class="title">LOCATION: </span>
            <span class="detail"> {{ plantDetails[0]['PSTATABB'] }} </span>
        </div>
        <div class="content">
            <span class="title col-6">CATEGORY: </span>
            <span class="detail">{{plantDetails[0]['PLFUELCT']}}</span>
        </div>
        <div class="content col-6">
            <span class="title">SECTOR: </span>
            <span class="detail"> {{ plantDetails[0]['SECTOR'] }} </span>
        </div>

        <div class="net-content-wrapper">
            <h3>ANNUAL NET GENERATION (2020)</h3>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLGENACL'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLGENAOL'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLGENAGS'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLGENANC'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLGENAHY'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLGENABM'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLGENAWI'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLGENASO'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLGENAGT'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLGENAOF'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLGENAOP'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLGENATN'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLGENATR'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLGENATH'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLGENACY'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLGENACN'] }}</span>
            </div>

            <h3>ANNUAL NET GENERATION PERCENTAGE (2020)</h3>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLCLPR'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLOLPR'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLGSPR'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLNCPR'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLHYPR'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLBMPR'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLWIPR'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLSOPR'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLGTPR'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLOFPR'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLOPPR'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLTNPR'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">OIL</span>
                <span class="detail">{{ plantDetails[0]['PLTRPR'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">NON-HYDRO %:</span>
                <span class="detail">{{ plantDetails[0]['PLTHPR'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">COMBUSTION %: </span>
                <span class="detail">{{ plantDetails[0]['PLCYPR'] }}</span>
            </div>
            <div class="content">
                <span class="title col-6">NON-COMBUSTION %:</span>
                <span class="detail">{{ plantDetails[0]['PLCNPR'] }}</span>
            </div>

        </div>
    </div>
    

</div>