.chart-canvas-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}

.pie-charts-wrapper{
    display: grid;
    grid-template-columns: repeat(autofit,minmax(200px,1fr));
    /* grid-template-columns: repeat(2,1fr); */
}


@media(min-width: 1700px){
    .pie-charts-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
}